.header-icon {
  display: none;
  position: relative;
  display: inline-block;
  top: 35px;
  left: 100px;
}

.header-icon div:nth-child(1) {
  background: #6274f0;
}

.header-icon div:nth-child(2) {
  background: #6c8bfd;
}

.header-icon div:nth-child(3) {
  background: #eaeff2;
}

.header-icon > div {
  display: inline-block;
  width: 40px;
  height: 30px;
  border-radius: 8px;
}
