.slide-nav__slide-image-container {
  width: 900px;
  height: 85px;
  overflow: hidden;
  overflow-x: auto;
  padding-bottom: 25px;
  white-space: nowrap;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.slide-nav__slide-image-container::-webkit-scrollbar {
  display: none;
}

.slide-nav__slide-image-container > div {
  display: inline-block;
  height: 100%;
}

.slide-nav__slide-image-container > label {
  display: inline-block;
}

.slide-nav__navigation {
  text-align: center;
}

.slide-nav__navigation div {
  display: inline-block;
}

.slide-nav__navigation img {
  height: 24px;
  width: 24px;
  vertical-align: middle;
}

.slide-nav__current {
  line-height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
  margin-right: 20px;
  color: #6b768d;
}
