.loading-animation div {
    text-align: initial;
}

.loading-animation__background {
    display: inline-block;
    clip-path: circle(135px at center);
    width: 270px;
    height: 270px;
    background: #EAEFF2;
    border-radius: 50%;
}

.loading-animation__animation-image {
    position: relative;
    padding-top: 75px;
    width: 120px;
    height: 120px;
    animation-duration: 6s;
    animation-duration: leaner;
    animation-iteration-count:infinite;
    animation-direction:normal;
    animation-fill-mode: forwards;
}

.animation-image--first {
    animation-name: showLoadingFirstImage;
}

.animation-image--second {
    animation-name: showLoadingSecondImage;
    animation-delay: -3s;
}

@keyframes showLoadingFirstImage {
    0% {
        left: 700px;
    }
    40% {
        left: 30%;
    }
    50% {
        left: 30%;
    }
    60% {
        left: 30%;
    }
    100% {
        left: -200px;
    }
}

@keyframes showLoadingSecondImage {
    0% {
      left: 700px;
    }
    40% {
        left: -15%;
    }
    50% {
        left: -15%;
    }
    60% {
        left: -15%;
    }
    100% {
      left: -500px;
    }
}
