.slide-index {
  width: 300px;
  height: 50px;
}

.slide-index input {
  display: none;
}

.slide-index label {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 30px;
}

.slide-index label:hover,
.slide-index input:checked + label {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 30px;

  background-color: white;
}

.slide-index label:hover > .slide-index__index {
  letter-spacing: 0px;
  color: #6c8bfd;
  font-size: 20px;
}

.slide-index input:checked + label > .slide-index__index {
  letter-spacing: 0px;
  color: #6c8bfd;
  font-size: 20px;
}

.slide-index__index {
  letter-spacing: 0px;
  color: #a2adc2;
  font-size: 20px;
}

.slide-index__time {
  color: #a2adc2;
  font-size: 16px;
}
