.loading-page__main {
    text-align: center;
}

.load-page__animation {
    margin-top: 80px;
}

.loading-page__main progress {
    display: block;
    margin: 0 auto;
    margin-top: 80px;
    width: 52%;
    height: 20px;
}

.loading-page__main h2 {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 72px;
    height: 32px;
    color: #6B768D;
    font-family: Pretendard;
    font-size: xx-large;
}

.loading-page__main p {
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
    width: 670px;
    height: 68px;
    font-family: Pretendard;
    font-size: x-large;
    color: #A2ADC2;
}

.loading-page__main strong {
    color: #6B768D;
}