.loading-page__main {
  text-align: center;
}

.load-page__animation {
  margin-top: 80px;
}

.loading-page__main progress {
  display: inline-block;
  margin-top: 80px;
  width: 52%;
  height: 20px;
}

.loading-page__main h2 {
  margin-top: 50px;
  color: #6b768d;
  font-family: Pretendard;
  font-size: xx-large;
}

.loading-page__main p {
  margin-top: 50px;
  font-family: Pretendard;
  font-size: x-large;
  color: #a2adc2;
}

.loading-page__main strong {
  color: #6b768d;
}
