.uploaded-page__main {
    text-align: center;
}

.uploaded-page__main img {
    margin-top: 60px;
    width: 200px;
    height: 200px;
}

.uploaded-page__main h2 {
    margin-top: 10px;
    font-family: Pretendard;
    font-size: xx-large;
    letter-spacing: 3.6px;
    color: #6B768D;
}

.uploaded-page__main p {
    margin-top: 20px;
    font-family: Pretendard;
    font-size: x-large;
    color: #A2ADC2;
}

.uploaded-page__share-panel {
    display: inline-block;
    margin-top: 60px;
    width: 1000px;
}