.banner {
    position: relative;
    z-index: 1;
    height: 100px;
    background: white;
    box-shadow: 0px 3px 10px #00000019;
}

.view-page {
    min-width: 1920px;
    height: 100%;
}

.view-page__main {
    vertical-align: top;
    height: 100%;
}

.view-page__slide-index-container > h1 {
    letter-spacing: 0px;
    color: #6B768D;
    font-size: 20px;

    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 30px;
}

.view-page__slide-index-container {
    display: inline-block;
    min-height: 100%;

    background-color: #F7F7F7;
}

.view-page__content-container {
    display: inline-block;
    margin-left: 360px;
    margin-top: 80px;
    vertical-align: top;
}

.view-page__slide-nav::-webkit-scrollbar {
    display: none;
}

.view-page__slide-nav {
    padding-top: 20px;
    padding-bottom: 20px;
}
